{% extends 'covid/base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="card-deck">
        <div class="row mt-5">
            <div class="card border-success mb-3" style="max-width: 15rem;">
                <div class="card-body text-success">
                    <h5 class="card-title text-center">Confirmed</h5>
                    <h3 class="card-text">2,06,32,058</h3>
                </div>
            </div>
            <div class="card border-success mb-3" style="max-width: 15rem;">
                <div class="card-body text-success">
                    <h5 class="card-title text-center">Confirmed</h5>
                    <h3 class="card-text">2,06,32,058</h3>
                </div>
            </div>
            <div class="card border-success mb-3" style="max-width: 15rem;">
                <div class="card-body text-success">
                    <h5 class="card-title text-center">Confirmed</h5>
                    <h3 class="card-text">2,06,32,058</h3>
                </div>
            </div>
            <div class="card border-success mb-3" style="max-width: 15rem;">
                <div class="card-body text-success">
                    <h5 class="card-title text-center">Confirmed</h5>
                    <h3 class="card-text">2,06,32,058</h3>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}